[Desktop Entry]
Name=wmDate
Comment=Date-display utility
Comment[pl]=Program wyświetlający datę
Exec=wmdate
Terminal=0
Type=Application
# vi: encoding=utf-8
