[Desktop Entry]
Name=WmDate
Comment=Date-display utility
Comment[pl]=Program wyświetlający datę
Exec=wmdate
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
